.TextB{
    width:100%;
   height: 100%;
}

.buttA{
    background-color: #0096C7;
}
.Block {

    background-color:#0096C7;
    
    display: flex;
    justify-content: center;
    align-items: center;


    height: 300px;
    width:90%;

    margin: 20px;
    padding: 20px;

    border-radius: 5px;


}

#Block2{
    background-color:#023E8A;
}

.ImgC {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    max-width: 50%;
    
}
img {
    max-width: 100%;
    max-height: 100%;
}

.TextC{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:50%;
    height:100%;
    padding-top:20px;
    
}

.h1 {
    color: aliceblue;
    font-size: 5vw;
}

.p {color: aliceblue;
font-size: 2vw;}